.header {
  text-align: center;
  display: block;
  font-family: "BobsBurgers";
  font-size: x-large;
  
}

.LinkBanner {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 2em;
}

.LinkBanner a {  
  float: left;
  margin: 10px;
  
}

a:link {

}

a:visited {
  color: #301934;
}

a:hover {
  font-weight: bold;
}

a:active {
  text-decoration: none;
}

.description {
  text-align: center;
  width: 50%;
  margin: 10px auto;
  border: 1px solid black;
}

.footer {
  position: fixed;
  bottom: 0px;
  border-top: 1px solid black;
  padding-top: 10px;
  text-align: center;
  margin: auto 0px;
  width: 100%;
  
}

@font-face{
  font-family: "BobsBurgers";
  font-style: fantasy;
  font-weight: normal;
  src: url("BobsBurgers.ttf");
}

.row div h3, thead {
  font-size: larger;
}

table {
  margin: auto;
}

