body {
  position: relative;
  width: 70%;
  margin: auto;  
  text-align: center;
}

tbody {
  font-style: italic;  
}

table, td, th, tbody {
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
}

thead {
  background-color: grey;
}

tbody tr:nth-child(even){
  background-color: white;
}

tbody tr:nth-child(odd){
  background-color: orange;
}

img {
  position: relative;
  margin: auto;
  padding: 0px;
  display: block;
}

@font-face {
  font-family: "RiseAgainst";
  font-style: fantasy;
  font-weight: normal;
  src: url('LEVIBRUSH.TTF');
}

#title, #members {
  font-family: 'RiseAgainst';
}

#members {
  border-top: 1px solid black;
}

li {
font-style: italic;
}

#cover {
  
  width: 100%;
  height: 33%;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #301934;
}

a:hover {
  text-decoration: underline;
  background-color: #d3d3d3;
}

a:active {

}
